<app-navbar style=" "></app-navbar>
<!-- <div class="container-fluid card border-0 rounded-0 bg-primary">
<div class="text-white py-5 "> <h5 class="text-start">Contact Us </h5> </div>
</div> -->

<!-- <section class="py-5 pt-0 text-white position-relative announce-color bg-light" style="transition: background 0.5s;"> -->
    <!-- <div class="card container-fluid text-center py-0 p-4">
        <h1 class="mb-3 Heading-font-family gradient-heading"><strong>Contact Us </strong></h1>
    </div> -->
<!-- </section> -->
<section class="container-fluid py-2">
    <div class="card shadow border-0  p-2">
      <h4><strong class="text-align justify-content-center d-flex ">Contact Us</strong></h4>
       
    </div>

</section>
<!-- <div class="position-relative" style="z-index: 2;">
    <div class="container-fluid position-absolute top-100 start-50 translate-middle px-3 w-100">
        <div class="row justify-content-center g-4 pading-cont"> -->
            <div class="container-fluid p-4">
                <div class="row">

                    <!-- Card 1 -->
                    <div class="col-12 col-md-6 col-lg-12 mb-5">
                        <div class="card shadow p-4 border-0 bg-white rounded ">
                            <h4 class="card-title border-bottom border-3 pb-2 text-center"><strong>Chhattisgarh Medical
                                    Services Corporation Limited</strong></h4>
                            <div class="card-body px-0 pt-2 pb-3"
                                style="height: 300px; overflow: hidden; position: relative;">

                                <div class="mb-3 Fon-family" style="text-align: justify;">
                                    <p class="text-center Fon-family">4th Floor, C.G Housing Board Commercial Complex, South East
                                        Corner
                                        Sector 27, Atal Nagar, Nava Raipur (CG) Pin 492015.</p>

                                    <span class="text-center justify-content-center d-flex ">
                                        <strong class="text-dark">Email:-&nbsp;</strong><a class=""
                                            href="mailto:cgmsc.ltd@gov.in">cgmsc.ltd&#64;gov.in</a>
                                    </span> <br>
                                    <span class="text-center justify-content-center d-flex">
                                        <strong class="text-dark ">Website:-&nbsp;</strong> <a class=" " href="https://cgmsc.gov.in/">
                                            https://cgmsc.gov.in/</a>
                                    </span>

                                    <!-- <div class="text-end mt-3">
                       
    
                        <a class="btn btn-outline-primary btn-sm d-inline-flex align-items-center" routerLink="/TenderDrug">
                          <i class="bi bi-eye me-2"></i> View More...
                        </a>
                      </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->