<app-navbar></app-navbar>
<section class="py-5 pt-0 text-darkk bg-white shadow-lg position-relative announce-colorr">
    <div class="container-fluid px-2 text-center py-3">
        <h4 class="mb-4 Heading-font-family">Feedback</h4>
    </div>
</section>
<div class="container-fluid p-0 m-0 py-3">
    <div class="row justify-content-center g-4 newpe">
        <div class="row g-4">
            <div class="container-fluid py-3">
                <div class="row pt-3 p-2">
                    <div class="col-lg-12 mb-5">
                        <div class="card shadow-lg p-4 border-0 bg-white rounded ">
                            <h4 class="card-title border-bottom border-3 pb-2 text-center"><strong>Chhattisgarh Medical
                                    Services Corporation Limited</strong></h4>
                            <div class="card-body border rounded px-0 pt-2 pb-3 bg-light"
                                style="height: auto; overflow: hidden; position: relative;">

                                <div class="mb-3 Fon-family" style="text-align: justify;">
                                    <form class="p-2" >
                                        <div class="row pb-3">
                                          <div class="form-group col-md-6">
                                            <label for="inputName">First Name</label>
                                            <input type="text" class="form-control" placeholder="Type your First Name" id="inputName">
                                          </div>
                                          <div class="form-group  col-md-6">
                                            <label for="inputPassword4">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Type your Last Name" id="inputPassword4">
                                          </div>
                                        </div>
                                        <div class="row pb-3">
                                          <div class="form-group  col-md-6">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" placeholder="Type your Email" id="inputEmail4">
                                          </div>
                                          <div class="form-group  col-md-6">
                                            <label for="inputAddress">Address</label>
                                            <input type="text" class="form-control" placeholder="Type your Address" id="inputAddress">
                                          </div>
                                        </div>
                                        <div class="row pb-3">
                                          <div class="form-group  col-md-6">
                                            <label for="inputnumber">Mobile Number </label>
                                            <input type="number" class="form-control" placeholder="Type your Mobile Number" id="inputnumber">
                                          </div>
                                          <div class="form-group  col-md-6">
                                            <label for="inputAddress">City</label>
                                            <input type="text" class="form-control" placeholder="Type your City" id="inputAddress">
                                          </div>
                                        </div>
                                        <div class="row pb-3">
                                          <div class="form-group  col-md-6">
                                            <label for="inputnumber">State</label>
                                            <input type="text" class="form-control" placeholder="Type your State" id="inputnumber">
                                          </div>
                                          <div class="form-group  col-md-6">
                                            <label for="inputAddress">Country</label>
                                            <input type="text" class="form-control" placeholder="Type your Country" id="inputAddress">
                                          </div>
                                        </div>
                                        <div class="row pb-3">
                                          <div class="form-group  col-md-6">
                                            <label for="inputnumber">Type</label>
                                            <input type="text" class="form-control" placeholder="Type " id="inputtype">
                                          </div>
                                          <div class="form-group  col-md-6">
                                            <label for="inputAddress">Subject</label>
                                            <input type="text" class="form-control" placeholder="Type Subject" id="inputSubject">
                                          </div>
                                        </div>
                                        <div class="form-group pb-3">
                                            <label for="inputComments">Comments / Queries</label>
                                            <textarea class="form-control" id="inputComments" rows="4" placeholder="Type your comments or queries here..."></textarea>
                                        </div>
                                       
                                        <!-- <div class="form-group">
                                          <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                              Check me out
                                            </label>
                                          </div>
                                        </div> -->
                                        <button type="submit" class="btn btn-primary">Submit </button>
                                      </form>
                                    
                            </div>
                            </div>

                          
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


